*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
header{
    background-color: white;
}
#logo, #text-logo{
    vertical-align: middle;
}
#text-logo{
    font-size: 30px;
}
#logo{
    margin: 10px 0 10px 20px;
}