*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{
    background-color: white;
}
#section1, #section2{
    width: 80%;
    margin: 0 auto;
}

#logo, #text-logo{
    vertical-align: middle;
}

#text-logo{
    font-size: 30px;
}

#logo{
    margin: 10px 0 10px 20px;
}

main{
    margin-top: 40px;
}

#section1{
    background-color: white;
    height: 30px;
}

#task{
    margin: 5px 2px;
    background-color: blue;
    border-radius: 10%;
    padding: 0.2%;
    font-size: 12px;
    color: white;

}

#sect{
    margin: 5px 2px;
    border-radius: 10%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 0.2%;
    font-size: 12px;
    color: grey;

}
#section2{
    background-color: white
}

.conteiner{
    margin-top: 20px;
}

.circle1{
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    color: green;
}

.circle2{
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    color: red;
}

.edi{
    background-color: blue;
    border-radius: 10%;
    padding: 0.2%;
    font-size: 12px;
    color: white;
}

.q1{
    background-color: purple;
    border-radius: 10%;
    padding: 0.2%;
    font-size: 12px;
    color: white;
}

.recru{
    background-color: green;
    border-radius: 10%;
    padding: 0.2%;
    font-size: 12px;
    color: white;
}

.mob{
    background-color: orangered;
    border-radius: 10%;
    padding: 0.2%;
    font-size: 12px;
    color: white;
}

.web{
    background-color: pink;
    border-radius: 10%;
    padding: 0.2%;
    font-size: 12px;
    color: white;
}

.sale{
    background-color: rgb(148, 199, 7);
    border-radius: 10%;
    padding: 0.2%;
    font-size: 12px;
    color: white;
}